<mat-card
  class="mat-elevation-z4 m-4"
  *ngIf="!placeholder; else placeholderTemplate"
>
  <div class="d-flex flex-wrap" [ngClass]="{'flex-column': isMobile}">
    <div class="actions d-flex align-items-center justify-content-around" *ngIf="editable" [ngClass]="{'flex-column': !isMobile, 'bottom-border': isMobile}">
      <button mat-icon-button (click)="moveUp.emit()" *ngIf="showUpArrow"><mat-icon>arrow_upward</mat-icon></button>
      <button mat-icon-button (click)="remove.emit()"><mat-icon>remove</mat-icon></button>
      <button mat-icon-button (click)="moveDown.emit()" *ngIf="showDownArrow"><mat-icon>arrow_downward</mat-icon></button>
    </div>
    <mat-divider [vertical]="true" class="ml-2 mr-4" *ngIf="editable && !isMobile"></mat-divider>
    <div class="d-flex flex-column flex-grow-1">
      <div class="d-flex flex-grow-1 flex-wrap">
        <div class="d-flex flex-column flex-grow-1">
          <mat-card-title>{{ house.address }}</mat-card-title>
          <mat-card-subtitle>{{ house.cityZip }}</mat-card-subtitle>
          <h4>{{ house.price| currency: 'USD' }}</h4>
          <mat-checkbox [(ngModel)]="house.visited" [disabled]="!editable">Visited</mat-checkbox>
          <a [href]="house.link" target="_blank" rel="noopener">HAR Link</a>
        </div>
          <img [src]="house.image" class="mw-100" [ngStyle]="{'max-height': isMobile ? 'none' : '128px'}"/>
      </div>
      <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header>
          <mat-panel-title>Pros + Cons</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="d-flex flex-wrap mt-4">
          <div class="flex-grow-1 d-flex flex-column mx-2">
            <div class="h3 d-flex align-items-center">Pros <button mat-icon-button (click)="addPro()" *ngIf="editable"><mat-icon>add</mat-icon></button></div>
            <div class="drag-list" cdkDropList [cdkDropListDisabled]="!editable">
              <div *ngFor="let pro of house.pros; let i=index" class="drag-box" cdkDrag [cdkDragDisabled]="!editable">
              </div>
            </div>
          </div>
          <div class="flex-grow-1 d-flex flex-column mx-2">
            <div class="h3">Cons</div>
            <div class="drag-list" cdkDropList [cdkDropListDisabled]="!editable">
              <div *ngFor="let con of house.cons; let i=index" class="drag-box" cdkDrag [cdkDragDisabled]="!editable">
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</mat-card>
<ng-template #placeholderTemplate>
  <mat-card class="mat-elevation-z4 m-4">
    <div class="d-flex flex-wrap">
        <div class="actions d-flex flex-column justify-content-around">
            <mat-icon
            [matTooltip]="'This is a placeholder until you add your own houses'"
            class="mr-auto"
            >help</mat-icon>
        </div>
        <mat-divider [vertical]="true" class="ml-2 mr-4"></mat-divider>
        <div>
          <mat-card-title>123 Lois Ln</mat-card-title>
          <mat-card-subtitle>Superhero City, 12345</mat-card-subtitle>
          <h4>$100,000,000</h4>
          <a href>HAR Link</a>
        </div>
        <img mat-card-md-image [src]="getRandomImgSrc()" class="ml-auto" />
      </div>
  </mat-card>
</ng-template>
