@use "./elevation";

.floating-menu {
  @extend .elevation-5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  width: fit-content;
  border-radius: 16px;
  height: fit-content;
  position: sticky;
  top: 10px;
}

.fab-menu {
    position: fixed !important;
    bottom: 2rem;
    right: 2rem;
}