<div class="container mt-0" style="overflow: visible;">
  <div class="row">
    <div class="col">
      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!editable">
        <div *ngFor="let dataItem of models; let index=index" cdkDrag [cdkDragDisabled]="!editable">
          <app-sortable-row 
            [house]="dataItem" 
            [showUpArrow]="index > 0" 
            [showDownArrow]="index < models.length - 1"
            [editable]="editable"
            (moveUp)="moveItemInArray(models, index, index-1)"
            (moveDown)="moveItemInArray(models, index, index+1)"
            (remove)="removeItemInArray(models, index)"
          ></app-sortable-row>
        </div>
      </div>
      <ng-container *ngIf="!models || !models.length">
          <div *ngFor="let placeholderIdx of [].constructor(3-models.length)">
            <app-sortable-row [placeholder]="true"></app-sortable-row>
          </div>
      </ng-container>
    </div>
    <div class="col-3 d-flex flex-row justify-content-center" *ngIf="editable">
      <div class="floating-menu">
        <mat-form-field class="w-100">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="newModel.address" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>City + Zip</mat-label>
          <input matInput [(ngModel)]="newModel.cityZip" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Image URL</mat-label>
          <input matInput [(ngModel)]="newModel.image" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Asking Price</mat-label>
          <input matInput [(ngModel)]="newModel.price" type="number" />
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>HAR Link</mat-label>
          <input matInput [(ngModel)]="newModel.link" />
        </mat-form-field>
        <button mat-raised-button [color]="'primary'" (click)="addModel()">
          Add House
        </button>
      </div>
    </div>
  </div>
</div>
<mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="fileInput.click()"><mat-icon>folder_open</mat-icon>Import</button>
    <input
          type="file"
          class="d-none"
          #fileInput
          (change)="import($event)"
          accept=".ehf,.json"
        />
    <button mat-menu-item (click)="export()"><mat-icon>save</mat-icon>Export</button>
    <mat-divider></mat-divider>
    <button mat-menu-item *ngIf="houseList.createdAt && editable" (click)="deleteCloudSave()"><mat-icon>delete_sweep</mat-icon>Delete</button>
    <button mat-menu-item (click)="loggedIn ? save() : logIn()"><mat-icon>cloud_upload</mat-icon>Save</button>
    <button mat-menu-item (click)="loggedIn? load() : logIn()"><mat-icon>cloud_download</mat-icon>Load</button>
</mat-menu>
<button mat-fab class="fab-menu" [matMenuTriggerFor]="aboveMenu">
  <mat-icon>list</mat-icon>
</button>
