Visited Component Works

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi beatae numquam corporis facere fugit illum quis perferendis qui minima laboriosam?</p>
<p>Ipsum sapiente temporibus repellat quisquam sunt facere ipsa odio quos nesciunt adipisci eos assumenda ea, aliquam beatae, doloribus amet vero.</p>
<p>Voluptatum quam fugit error illum dolorem velit similique, fuga corporis voluptate dolor ex porro atque. Veritatis asperiores itaque quae possimus.</p>
<p>A reiciendis maiores dolor quas voluptate ab fuga quibusdam dignissimos minus itaque placeat ea suscipit deserunt rerum consectetur, magnam voluptatem?</p>